<template lang="html">
  <div>

    <transition name="fade">
      <div v-if="page.messageVisible"
           class="alert"
           :class="{
             'alert-success' : inventoryData['success'],
             'alert-danger' : !inventoryData['success']
            }">
        {{ inventoryData['message'] }}
        <div class="pull-right x-close"
             @click="page.messageVisible = false">
             &#215
        </div>
      </div>
    </transition>

    <div v-if="inventoryData['success'] && inventoryData">
      <div class="aisle-div" v-for="(inventory, aisleIndex) in inventoryDataObj['data']">
        <div style="overflow: hidden;">
          <h3 class="clear-vertical-margin pull-left">{{ inventory['aisle_name'] }}</h3>
        </div>
        <hr class="clear-vertical-margin" />
        <table class="table table-striped dataTable no-footer">
          <thead>
            <tr>
              <th>Companies in Aisle</th>
              <th>Total Skus</th>
              <th>Total Inventory</th>
              <th>Occupied Bins</th>
              <th>Occupied Levels</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ inventory['total_customers'] }} Customers
                <a class="btn btn-default view-btn"
                   @click="showCustomers(aisleIndex)"
                   title="View Customers">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <transition name="slide-fade">
                  <ul v-if="inventory['customers_visible']">
                    <li v-for="companyName in inventory['company_names']">{{ companyName['company_name'] }}</li>
                  </ul>
                </transition>
              </td>
              <td>{{ inventory['total_skus'] }}</td>
              <td>{{ inventory['total_inventory'] }}</td>
              <td>{{ inventory['total_occupied_bins'] }} of {{ inventory['total_available_bins'] }}</td>
              <td>{{ inventory['total_occupied_levels'] }} of {{ inventory['total_available_levels'] }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <transition name="slide-fade">
          <div>
            <h3>Sections</h3>
            <div class="aisle-container">

              <div class="section-container btn btn-info"
                   v-bind:class="{'active-section': inventory['active_section'] === sectionIndex}"
                   v-for="(section, sectionIndex) in inventory['sections']"
                   @click="showSectionInventory(inventory['area'], section, section.id, aisleIndex, sectionIndex)"
              >
                {{ section.section }}
              </div>

            </div>

            <transition name="slide-fade">
              <div v-if="inventory['data_pane_visible']">

                <br />
                <div v-for="level in inventory['section_inventory']">
                  <div>

                    <span class="table-tab">{{ level.level_name }}</span>
                    <table class="table table-hover gui-table">
                      <thead>
                        <tr>
                          <th>Customer</th>
                          <th>Item Name</th>
                          <th>Item Sku</th>
                          <th>Qty</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in level.level_inventory">
                          <td>{{ item.company}}</td>
                          <td>{{ item.item_name }}</td>
                          <td>{{ item.item_sku_number }}</td>
                          <td>{{ item.location_qty }}</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
            </transition>
          </div>

        </transition>

      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: ['inventoryData'],

  data() {
    return {
      page: {
        messageVisible: true,
      },
      inventoryDataObj: this.inventoryData
    }
  },

  methods: {

    showCustomers(index, area, aisleId) {
      var aisle = this.inventoryDataObj.data[index];
      aisle.customers_visible = !aisle.customers_visible;
    },

    showSectionInventory(area, section, sectionId, aisleIndex, sectionIndex) {
      var aisle = this.inventoryDataObj.data[aisleIndex];

      $.ajax('/' + area + '/get-section-levels/' + sectionId, {
        success: function(data) {

          aisle.section_inventory = data;

          if(aisle.data_pane_visible) {
            if(aisle.active_section !== sectionIndex) {
              aisle.active_section = sectionIndex;
              aisle.data_pane = section;
            } else {
              aisle.data_pane_visible = false;
              aisle.active_section = '';
              aisle.data_pane = '';
            }
          } else {
            aisle.data_pane_visible = true;
            aisle.active_section = sectionIndex;
            aisle.data_pane = section;
          }

        },
        error: function(xhr) {
          // aisle.aisle_inventory = xhr.status + ': ' + xhr.statusText;
          return xhr.status + ': ' + xhr.statusText;
        }
      });

    },

  },

  mounted() {

  }

}
</script>

<style lang="css">

  .x-close {
    font-size: 22px;
    font-weight: bold;
    margin-top: -6px;
    cursor: pointer;
  }

  .aisle-div {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #e8e8e8;
  }

  .clear-vertical-margin {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .view-btn {
    padding: 0px 3px;
    font-size: 10px;
    vertical-align: text-top;
  }

  /**
   *  Aisle contents layout
   */
   .aisle-container {
     width: 100%;
     overflow: hidden;
     display: grid;
     grid-template-columns: repeat(auto-fit, 75px);
     grid-template-rows: auto;
     grid-gap: 5px;
     justify-content: space-between;
     align-content: flex-start;
   }

   .section-container {
     text-align: center;
     margin: 0;
     padding: 0;
   }

   .active-section {
     background: #f0ad4e;
     border-color: #d58512;
   }

   .active-section:hover {
     background: #ec971f;
     border-color: #d58512;
   }

   .gui-table th {
     background: #5bc0de;
     color: #fff;
   }

   .gui-table {
     background: #fff;
   }

   .gui-table tr:hover {
     background-color: #dff0d8 !important;
   }

   .table-tab {
     background-color: #fff;
     padding: 0px 20px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-top: 1px solid #5bc0de;
     border-left: 1px solid #5bc0de;
     border-right: 1px solid #5bc0de;
     font-size: 17px;
     font-weight: bold;
     float: left;
    }

  /**
   *  Transition effects
   */

  /* Transition Up/Down */

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
  }

  /* Transition Fade */

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }

</style>
